@font-face {
    font-family: 'Libre Bodoni';
    src: url('/fonts/LibreBodoni-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Bodoni';
    src: url('/fonts/LibreBodoni-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/Gill-Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/Gill-Sans-Medium.otf') format('opentype');
    font-weight: 500; 
    font-style: normal;
    font-display: swap;
}
